<template name="Components">
{{> Nav}}
<div class="row">

  <div class="col-md-3">
{{> SideMenu}}
  </div>
<div align="center">
          <div class="col-lg-4">
            <div class="panel panel-info">
            <a href="">
            <img class="img-rounded" id="cat-img" src="/imgs/ram-cat.png" alt="Generic placeholder image" width="140" height="140" >
            </a>
            <div class="panel-footer" style="background-color:#99ccff;"><button type="button" class="btn " style="background-color:#99ccff;">Memorias Ram</button></div>
            </div>
            <br>
            <br>

            <div class="panel panel-info">
            <a href="/cpu">
            <img class="img-rounded" id="cat-img" src="imgs/cpu-cat.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            </a>
            <div class="panel-footer" style="background-color:#99ccff;" ><button type="button" class="btn " style="background-color:#99ccff;">Procesadores</button></div>
            </div>
            <br>
            <br>

            <div class="panel panel-info">
            <a href="">
            <img class="img-rounded" id="cat-img" src="imgs/hdd-cat.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            </a>
            <div class="panel-footer" style="background-color:#99ccff;"><button type="button" class="btn " style="background-color:#99ccff;">Almacenamiento</button></div>
            </div>
            <br>
            <br>

            <div class="panel panel-info">
            <a href="">
            <img class="img-rounded" id="cat-img" src="imgs/mobo-cat.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            </a>
            <div class="panel-footer" style="background-color:#99ccff;"><button type="button" class="btn " style="background-color:#99ccff;">Tarjeta Madre</button></div>
            </div>
            <br><br>
          </div>

          <div class="col-lg-4">
            <div class="panel panel-info">
            <a href="">
            <img class="img-rounded" id="cat-img" src="imgs/case-cat.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            </a>
            <div class="panel-footer" style="background-color:#99ccff;"><button type="button" class="btn " style="background-color:#99ccff;">Cajas</button></div>
            </div>
            <br>
            <br>

            <div class="panel panel-info">
            <a href="">
            <img class="img-rounded" id="cat-img" src="imgs/gpu-cat.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            </a>
            <div class="panel-footer" style="background-color:#99ccff;"><button type="button" class="btn " style="background-color:#99ccff;">Tarjeta de Video</button></div>
            </div>
            <br>
            <br>

            <div class="panel panel-info">
            <a href="">
            <img class="img-rounded" id="cat-img" src="imgs/psu-cat.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            </a>
            <div class="panel-footer" style="background-color:#99ccff;"><button type="button" class="btn " style="background-color:#99ccff;">Fuentes de Poder</button></div>
            </div>
            <br>
          </div>
        </div>


</div>


</template>
