<template name="Components">
{{> Nav}}
<div class="row">

  <div class="col-md-2">
{{> SideMenu}}
  </div>
<div align="center">
          <div class="col-lg-4">
            <a href="">
            <img class="img" id="cat-img" src="/imgs/ram-cat.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Memorias Ram</h2>
            </a>

            <br>
            <a href="/cpu">
            <img class="img" id="cat-img" src="imgs/cpu-cat.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Procesadores</h2>
            </a>
            <br>

            <a href="">
            <img class="img" id="cat-img" src="imgs/hdd-cat.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Almacenamiento</h2>
            </a>
            <br>

            <a href="">
            <img class="img" id="cat-img" src="imgs/mobo-cat.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Tarjetas Madre</h2>
            </a>
            <br>
          </div>

          <div class="col-lg-4">
            <a href="">
            <img class="img" id="cat-img" src="imgs/case-cat.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Cajas</h2>
            </a>
            <br>

            <a href="">
            <img class="img" id="cat-img" src="imgs/gpu-cat.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Tarjetas de Video</h2>
            </a>
            <br>

            <a href="">
            <img class="img" id="cat-img" src="imgs/psu-cat.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Fuentes de Poder</h2>
            </a>
            <br>
          </div>
        </div>


</div>


</template>
