<template name="Components">

<div align="center">
          <div class="col-lg-4">
            <div class="panel panel-info">
            <a href="">
            <img class="img-rounded" id="cat-img" src="/imgs/ram-cat.png" alt="Generic placeholder image" width="140" height="140" >
            </a>
            <div class="panel-footer" style="background-color:#a6a6a6;"><button type="button" class="btn btn-block" style="background-color:#a6a6a6;">Memorias Ram</button></div>
            </div>
            <br>
            <br>

            <div class="panel panel-info">
            <a href="/cpu">
            <img class="img-rounded" id="cat-img" src="imgs/cpu-cat.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            </a>
            <div class="panel-footer" style="background-color:#a6a6a6;" ><button type="button" class="btn " style="background-color:#a6a6a6;">Procesadores</button></div>
            </div>
            <br>
            <br>

            <div class="panel panel-info">
            <a href="/harddrive">
            <img class="img-rounded" id="cat-img" src="imgs/hdd-cat.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            </a>
            <div class="panel-footer" style="background-color:#a6a6a6;"><button type="button" class="btn " style="background-color:#a6a6a6;">Almacenamiento</button></div>
            </div>
            <br>
            <br>

            <div class="panel panel-info">
            <a href="/motherboard">
            <img class="img-rounded" id="cat-img" src="imgs/mobo-cat.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            </a>
            <div class="panel-footer" style="background-color:#a6a6a6;"><button type="button" class="btn " style="background-color:#a6a6a6;">Tarjeta Madre</button></div>
            </div>
            <br><br>
          </div>

          <div class="col-lg-4">
            <div class="panel panel-info">
            <a href="">
            <img class="img-rounded" id="cat-img" src="imgs/case-cat.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            </a>
            <div class="panel-footer" style="background-color:#a6a6a6;"><button type="button" class="btn " style="background-color:#a6a6a6;">Cajas</button></div>
            </div>
            <br>
            <br>

            <div class="panel panel-info">
            <a href="">
            <img class="img-rounded" id="cat-img" src="imgs/gpu-cat.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            </a>
            <div class="panel-footer" style="background-color:#a6a6a6;"><button type="button" class="btn " style="background-color:#a6a6a6;">Tarjeta de Video</button></div>
            </div>
            <br>
            <br>

            <div class="panel panel-info">
            <a href="/powersupplies">
            <img class="img-rounded" id="cat-img" src="imgs/psu-cat.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            </a>
            <div class="panel-footer" style="background-color:#a6a6a6;"><button type="button" class="btn " style="background-color:#a6a6a6;">Fuentes de Poder</button></div>
            </div>
            <br>
          </div>
        </div>





</template>
