<template name="Home">
<!-- {{>side2}} -->
{{> Nav}}

<div class="row">
  <div class="col-md-2" >
{{> SideBar}}
  </div>

<div class="col-md-8">
{{> Carousel}}
</div>

</div>
{{> Slider}}

<div class="panel panel-default">
  <div class="col-lg-6" >
    <br>
    <h2> Misión</h2>
    <p>
  Somos una empresa dedicada a la comercialización y distribución de productos informáticos,
   soluciones en Internet, servicio técnico y mantenimiento de equipos y sistemas informáticos.
    Ofreciendo una solución global a empresas, profesionales, administraciones y usuarios particulares,
    a todo el territorio nacional.</p>
  </div>
  <div class="col-lg-6" >
    <br>
    <h2> Misión</h2>
<p>Pretendemos ser un referente en el mercado nacional en el sector de las TIC, y
  para ello abarcaremos todos los servicios que ofrecemos actualmente, incluyendo
  los que vayan surgiendo debido a la necesidad de cambio provocado por los avances tecnológicos.
  Esto es así ya que somos una empresa en constante innovación ya que el sector de la tecnología así lo requiere.</p>
  </div>
</div>



</template>
