<Template name="Tvideotest">
{{> Nav}}

<div class="row">
<div class="col-sm-2">
{{> SideMenu}}
</div>

<div class="col-sm-4">
  {{#each tvideo}}

  <div class="panel panel-primary">
  <div class="panel-heading">
  <h3 class="panel-title">{{nombre}}</h3>
  </div>
  <div class="panel-body">
  <ul>
  <li> Tarjeta de video: {{nombre}} {{interfaz}} {{pines}} {{gpu}} {{relojnucleo}} {{tamañomemoria}} {{interfazmemoria}} {{tipomemoria}} {{precio}}</li>

Puertos
  {{#each puertos}}
  <li> Puertos: {{puerto}}{{cantidad}} </li>
  {{/each}}

Insertar imagen
  {{#with FS.GetFile "images" (img)}}
    <img src="{{this.url}}" class="img-responsive" alt="ImgDb" width="170" height="100">
  {{/with}}


  <li> A solo <b>{{precio}}</b> </li>
  <img src="/imgs/desktop2.jpg" class="img-responsive" alt="HP Desktop" width="200" height="100">
  <a href="#"> Ver mas </a>
  </ul>
  </div>
  </div>
  {{/each}}
</div>

</div>


</template>
