<Template name="Tvideotest">

<div class="col-md-6">
  {{#each documents}}
  <div class="panel panel-primary">
  <div class="panel-heading">
  <h3 class="panel-title">{{nombre}}</h3>
  </div>
  <div class="panel-body">
  <ul>
  <li> Tarjeta de video: {{nombre}} {{interfaz}} {{pines}} {{gpu}} {{relojnucleo}} {{tamañomemoria}} {{interfazmemoria}} {{tipomemoria}} {{precio}}</li>

Puertos
  {{#each puertos}}
  <li> Puertos: {{puerto}}{{cantidad}} </li>
  {{/each}}

Insertar imagen
  {{#with FS.GetFile "images" (img)}}
    <img src="{{this.url}}" class="img-responsive" alt="ImgDb" width="170" height="100">
  {{/with}}

  <li> A solo <b>{{precio}}</b> </li>

  <button type="submit" class="btn btn-md btn-primary " >Añadir a Carrito</button>
  <button type="submit" class="btn btn-md btn-primary " >Detalles</button>
  <button type="submit" class="btn btn-md btn-warning " >Añadir al Build</button>
  </ul>
  </div>
  </div>
  {{/each}}
  {{> defaultBootstrapPaginator pagination=templatePagination limit=10 containerClass="text-center"}}
</div>
</template>
