<template name="Motherboard">
  <div class="col-md-6">
    {{#each documents}}

    <div class="panel panel-primary">
    <div class="panel-heading">
  <h3 class="panel-title">{{mb_nombre}}</h3>
  </div>
  <div class="panel-body">
  <ul>
  <li>Tarjeta Madre: {{mb_nombre}} </li>
  <li> Tipo de Socket: {{mb_socket}} </li>
  <li> Dispositivo de Almacenamiento: {{mb_dispalmac}} </li>
  <li> Conectores de Almacenamiento: {{mb_conalmac}} </li>

  <li> Tipo de ram: {{mb_tram}} </li>
  <li> Numero de ranuras ram: {{mb_cranram}} </li>
  <li> Frecuencia de la ram: {{mb_frecram}} MHz </li>
  <li> conector de alimentacion principal: {{mb_conATXprin}} </li>
    <li> conector de alimentacion secundario: {{mb_conATXsec}} </li>

  <li> Numero de ranuras PCI-Ex16 : {{mb_cPCI_Ex16}} </li>

  <li> Numero de ranuras PCI-E : {{mb_cPCI}} </li>

  <li> Puertos del Panel Trasero:
  <ul>
  {{#each puertos}}
  
  <li>Puertos PS/2</li>
             <li>ranuras de tipo PS/2 para teclado :{{pt_PS2_teclado}}  </li>
             <li>ranuras de tipo PS/2 para Mouse :{{pt_PS2_mouse}}  </li>

  <li>Puertos de Video:</li>
             <li>cantidad de ranuras de video VGA :{{pt_VGA}}  </li>
             <li>ranura de ranuras de video DVI :{{pt_DVI}}  </li>

  <li>Puertos HDMI</li>
             <li>cantidad de ranuras HDMI:{{pt_HDMI}}  </li>

  <li>Puertos de LAN:</li>
             <li>cantidad de ranuras de LAN :{{pt_LAN}}  </li>

  <li>Puertos de entrada USB 2.0:</li>
             <li>cantidad de ranuras de USB 2.0:{{pt_USB2}}  </li>

  <li>Puertos de entrada USB 3.0:</li>
             <li>cantidad de ranuras de USB 3.0:{{pt_USB3}}  </li>

  <li>Puertos de Audio:</li>
             <li>cantidad de ranuras pra audio:{{pt_audio}}  </li>

{{/each}}
</ul>
</li>
  <li> Al precio de <b>{{mb_precio}}$ </b> </li>

  {{#with FS.GetFile "images" (img)}}
    <img src="{{this.url}}" class="img-responsive" alt="ImgDb" width="170" height="100">
  {{/with}}
  <button type="submit" class="btn btn-md btn-primary " >Añadir a Carrito</button>
  <button type="submit" class="btn btn-md btn-primary " >Detalles</button>
  <button type="submit" class="btn btn-md btn-warning " >Añadir al Build</button>
</ul>
</div>
</div>
{{/each}}
{{> defaultBootstrapPaginator pagination=templatePagination limit=10 containerClass="text-center"}}

</div>
</template>
