<template name="Motherboard">
  <div class="col-md-6">
    {{#each documents}}

    <div class="panel panel-primary">
    <div class="panel-heading">
  <h3 class="panel-title">{{mb_nombre}}</h3>
  </div>
  <div class="panel-body">
  <ul>
  <li>Tarjeta Madre: {{mb_nombre}} </li>
  <li> Tipo de Socket: {{mb_socket}} </li>
  <li> Dispositivo de Almacenamiento: {{mb_dispalmac}} </li>
  <li> Conectores de Almacenamiento: {{mb_conalmac}} </li>

  <li> Tipo de ram: {{mb_tram}} </li>
  <li> Numero de ranuras ram: {{mb_cranram}} </li>
  <li> Frecuencia de la ram: {{mb_frecram}} MHz </li>
  <li> conector de alimentacion principal: {{mb_conATXprin}} </li>
    <li> conector de alimentacion secundario: {{mb_conATXsec}} </li>

  <li> Tipo de PCI-Ex16: {{mb_tPCI_Ex16}}</li>
  <li> Numero de ranuras PCI-Ex16 : {{mb_cPCI_Ex16}} </li>

  <li> Tipo de PCI: {{mb_tPCI_E}}</li>
  <li> Numero de ranuras PCI-E : {{mb_cPCI}} </li>

  <li> Al precio de <b>{{mb_precio}}$ </b> </li>

  {{#with FS.GetFile "images" (img)}}
    <img src="{{this.url}}" class="img-responsive" alt="ImgDb" width="170" height="100">
  {{/with}}
  <button type="submit" class="btn btn-md btn-primary " >Añadir a Carrito</button>
  <button type="submit" class="btn btn-md btn-primary " >Detalles</button>
  <button type="submit" class="btn btn-md btn-warning " >Añadir al Build</button>
</ul>
</div>
</div>
{{/each}}
{{> defaultBootstrapPaginator pagination=templatePagination limit=10 containerClass="text-center"}}

</div>
</template>
