<template name="Powersupplies">
  <div class="col-md-6">
    {{#each documents}}

    <div class="panel panel-primary">
    <div class="panel-heading">
  <h3 class="panel-title">{{ps_nombre}}</h3>
  </div>
  <div class="panel-body">
  <ul>
  <li> Fuente de Poder: {{ps_nombre}} </li>
  <li> con Voltaje: {{ps_watt}} W</li>
  <li> certificacion: {{ps_certif}} </li>
  <li> Modular: {{ps_Modular}} </li>
  <li> pin: {{ps_pins}} </li>

  <li> conector ATX:{{ps_cantATXcont}} x {{ps_ATXpins}} </li>
  <li> conector PCI-E:{{ps_cantPCIEcont}} x {{ps_PCI_Epins}} </li>
  <li> conector SATA:{{ps_cantSATAcont}} x {{ps_SATApins}} </li>
  <li> conector Molex:{{ps_cantMoelxcont}} x {{ps_Molexpins}} </li>

  <li> abanico: {{ps_abanico}} </li>
  <li> Conectores: {{ps_conector}} </li>

  <li> Al precio de <b>{{ps_precio}}$ </b> </li>

  {{#with FS.GetFile "images" (img)}}
  <img src="{{this.url}}" class="img-responsive" alt="ImgDb" width="170" height="100">
{{/with}}
<button type="submit" class="btn btn-md btn-primary " >Añadir a Carrito</button>
<button type="submit" class="btn btn-md btn-primary " >Detalles</button>
<button type="submit" class="btn btn-md btn-warning " >Añadir al Build</button>
</ul>
</div>
</div>
{{/each}}
{{> defaultBootstrapPaginator pagination=templatePagination limit=10 containerClass="text-center"}}

</div>
</template>
