<template name="Casetest">

<div class="col-md-6">
  {{#each documents}}
  <div class="panel panel-primary">
  <div class="panel-heading">
  <h3 class="panel-title">{{nombre}}</h3>
  </div>
  <div class="panel-body">
  <ul>
  <li> Case: {{nombre}} {{precio}} {{ranuras}} </li>

  Tarjeta madre compatibles

  {{#each tarjetamadrecompatible}}
  <li> Tarjeta: {{tarjeta}} </li>
  {{/each}}

  Bahia para disco duros

  {{#each discoduro}}
  <li> disco: {{cantidadbahia}} {{tamaño}}</li>
  {{/each}}

  Insertar imagen

  {{#with FS.GetFile "images" (img)}}
    <img src="{{this.url}}" class="img-responsive" alt="ImgDb" width="170" height="100">
  {{/with}}

  <button type="submit" class="btn btn-md btn-primary " >Añadir a Carrito</button>
  <button type="submit" class="btn btn-md btn-primary " >Detalles</button>
  <button type="submit" class="btn btn-md btn-warning " >Añadir al Build</button>


  </ul>
  </div>
  </div>
  {{/each}}
  {{> defaultBootstrapPaginator pagination=templatePagination limit=10 containerClass="text-center"}}


</div>

</template>
