<template name="Casetest">
{{> Nav}}
<div class="row">
<div class="col-sm-2">
{{> SideMenu}}
</div>

<div class="col-sm-4">
  {{#each case}}
  <div class="panel panel-primary">
  <div class="panel-heading">
  <h3 class="panel-title">{{nombre}}</h3>
  </div>
  <div class="panel-body">
  <ul>
  <li> Case: {{nombre}} {{precio}} {{ranuras}} </li>
  {{#each tarjetamadrecompatible}}
  <li> Tarjeta: {{tarjeta}} </li>
  {{/each}}
  <li> A solo <b>{{precio}}</b> </li>
  <img src="/imgs/desktop2.jpg" class="img-responsive" alt="HP Desktop" width="200" height="100">
  <a href="#"> Ver mas </a>
  </ul>
  </div>
  </div>
  {{/each}}
</div>

</div>

</template>
