<template name="Harddrive">
{{> Nav}}

<div class="row">
<div class="col-md-2">
{{> SideMenu}}
</div>

<div class="col-md-4">
  {{#each harddrive}}

  <div class="panel panel-primary">
  <div class="panel-heading">
  <h3 class="panel-title">{{dd_nombre}}</h3>
  </div>
  <div class="panel-body">
  <ul>
  <li> Disco Duro: {{dd_nombre}} </li>
  <li> capacidad: {{dd_capacidad}}GB</li>
  <li> forma: {{dd_forma}} </li>

  <li> buffer: {{dd_buffer}} MB Cache</li>
  <li> velocidad: {{dd_velocidad}} rpm</li>
  <li> interfaz: {{dd_interfaz}} </li>

  <li> Al precio de <b>{{dd_precio}} </b> </li>

  {{#with FS.GetFile "images" (img)}}
    <img src="{{this.url}}" class="img-responsive" alt="ImgDb" width="170" height="100">
  {{/with}}

      <button type="submit" class="btn btn-md btn-primary " >Añadir a Carrito</button>
      <button type="submit" class="btn btn-md btn-primary " >Detalles</button>

    </ul>

    </div>
    </div>
    {{/each}}

  </div>

  </div>
  </template>
